In [72]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import ndimage
from scipy import misc

## Crear un vector de ceros de tamaño 10

In [12]:
array_zeros=np.zeros(10)
array_zeros

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

## Crear un vector de ceros de tamaño 10 y el de la posicion 5 sea igual a 1

In [13]:
array_zeros[4]=array_zeros[4]+1
array_zeros

array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.])

## Cambiar el orden de un vector de 50 elementos, el de la posicion 1 es el de la 50 etc.

In [14]:
array_50=np.arange(50)
array_50[::-1]

array([49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33,
       32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16,
       15, 14, 13, 12, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1,  0])

## Crear una matriz de 3 x 3 con valores del cero al 8

In [16]:
matriz_3=np.arange(9)
matriz_3.reshape(3,3)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

## Encontrar los indices que no sean cero en un arreglo

In [68]:
arreglo=np.array((1,2,0,0,4,0))
np.where(arreglo != 0)

(array([0, 1, 4], dtype=int64),)

## Crear una matriz de identidad 3 x 3

In [69]:
matriz_identidd=np.eye(3,3)
matriz_identidd

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

## Crear una matriz 3 x 3 x 3 con valores randomicos

In [102]:
matriz_random=np.random.randint(0,50,(3,3,3))
matriz_random

array([[[13, 40, 44],
        [17, 14, 18],
        [ 7, 48, 23]],

       [[44, 31, 17],
        [12, 22, 34],
        [12, 25,  3]],

       [[32, 15, 11],
        [41, 17, 29],
        [12, 22, 21]]])

## Crear una matriz 10 x 10 y encontrar el mayor y el menor

In [18]:
matriz_10=np.random.randint(0,30,(10,10))
matriz_10

array([[29, 22,  7,  3,  9, 13, 14, 11, 25, 18],
       [16, 13, 21, 24, 28,  2, 12, 22, 12, 23],
       [26, 21,  3, 29, 10, 20, 23,  2, 22,  2],
       [25, 13,  6, 15,  0,  5, 13,  8,  1, 21],
       [ 4, 25, 14,  4,  7,  8,  9, 15, 13,  7],
       [20,  8, 27,  1,  1, 16,  4,  2, 22, 17],
       [27, 26, 12, 22, 12, 13, 18, 11, 13, 28],
       [18,  3,  5,  0,  6, 18,  4, 12, 12,  1],
       [29,  4, 17, 29, 21, 12, 20, 28, 14, 27],
       [28, 23,  6,  6, 21, 21, 21,  9, 15,  1]])

In [19]:
np.max(matriz_10)

29

In [20]:
np.min(matriz_10)

0

## Sacar los colores RGB unicos en una imagen (cuales rgb existen ej: 0, 0, 0 - 255,255,255 -> 2 colores)

In [85]:
mapache = misc.face()
mapache.shape
plt.imshow(mapache.item(382,512))

ValueError: incorrect number of indices for array

## ¿Como crear una serie de una lista, diccionario o arreglo?

In [22]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [23]:
sr1=pd.Series(myarr)
sr1

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32

In [24]:
sr2=pd.Series(mylist)
sr2

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [25]:
sr3=pd.Series(mydict)
sr3

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

## ¿Como convertir el indice de una serie en una columna de un DataFrame?

In [26]:
ser = pd.Series(mydict) 
# Transformar la serie en dataframe y hacer una columna indice
df1=pd.DataFrame(ser)
df1

    0
a   0
b   1
c   2
e   3
d   4
f   5
g   6
h   7
i   8
j   9
k  10
l  11
m  12
n  13
o  14
p  15
q  16
r  17
s  18
t  19
u  20
v  21
w  22
x  23
y  24
z  25

## ¿Como combinar varias series para hacer un DataFrame?

In [27]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [28]:
df2=pd.concat([ser1,ser2])
df2

0      a
1      b
2      c
3      e
4      d
5      f
6      g
7      h
8      i
9      j
10     k
11     l
12     m
13     n
14     o
15     p
16     q
17     r
18     s
19     t
20     u
21     v
22     w
23     x
24     y
25     z
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: object

## ¿Como obtener los items que esten en una serie A y no en una serie B?

In [29]:
serie1 = pd.Series([1, 2, 3, 4, 5])
serie2 = pd.Series([4, 5, 6, 7, 8])

In [31]:
res=np.where(serie1 != serie2)
res

(array([0, 1, 2, 3, 4], dtype=int64),)

## ¿Como obtener el numero de veces que se repite un valor en una serie?

In [32]:
ser3 = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser3

0     f
1     f
2     c
3     h
4     g
5     c
6     b
7     h
8     b
9     d
10    f
11    a
12    a
13    f
14    g
15    h
16    a
17    a
18    f
19    f
20    h
21    c
22    f
23    h
24    f
25    a
26    g
27    c
28    f
29    c
dtype: object

In [87]:
ser3.value_counts()

f    9
c    5
h    5
a    5
g    3
b    2
d    1
dtype: int64

## ¿Como mantener los 2 valores mas repetidos de una serie, y a los demas valores cambiarles por 0 ?

In [88]:
np.random.RandomState(100)
ser_random = pd.Series(np.random.randint(1, 5, [12]))
ser_random

0     4
1     3
2     4
3     3
4     2
5     4
6     3
7     4
8     4
9     1
10    3
11    4
dtype: int32

In [92]:
res=ser_random.value_counts()
#print(type(res))
res

4    6
3    4
2    1
1    1
dtype: int64

In [100]:
r=np.where(ser_random != 4)
r

(array([ 1,  3,  4,  6,  9, 10], dtype=int64),)

In [101]:
ser_random[r]=ser_random[r]*0
ser_random

ValueError: Can only tuple-index with a MultiIndex

## ¿Como transformar una serie de un arreglo de numpy a un DataFrame con un shape definido?

In [40]:
array_np=np.random.randint(1, 10, 35)
array_np.reshape(7,5)

array([[1, 1, 6, 1, 5],
       [2, 6, 9, 9, 6],
       [8, 3, 3, 2, 1],
       [6, 6, 7, 3, 8],
       [3, 9, 6, 4, 3],
       [8, 4, 8, 9, 4],
       [6, 7, 9, 9, 2]])

In [41]:
df2=pd.DataFrame(array_np)
df2

    0
0   1
1   1
2   6
3   1
4   5
5   2
6   6
7   9
8   9
9   6
10  8
11  3
12  3
13  2
14  1
15  6
16  6
17  7
18  3
19  8
20  3
21  9
22  6
23  4
24  3
25  8
26  4
27  8
28  9
29  4
30  6
31  7
32  9
33  9
34  2

## ¿Obtener los valores de una serie conociendo la posicion por indice?

In [43]:
ser4 = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
# a e i o u

In [44]:
ser4[0]

'a'

In [45]:
ser4[4]

'e'

In [46]:
ser4[8]

'i'

In [47]:
ser4[14]

'o'

In [49]:
ser4[20]

'u'

## ¿Como anadir series vertical u horizontalmente a un DataFrame?

In [50]:
s1 = pd.Series(range(5))
s2 = pd.Series(list('abcde'))

In [51]:
s1

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [52]:
s2

0    a
1    b
2    c
3    d
4    e
dtype: object

In [55]:
df3=pd.DataFrame(s1)
df3[1]=s2
df3

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

## ¿Obtener la media de una serie agrupada por otra serie?

In [56]:
frutas = pd.Series(np.random.choice(['manzana', 'banana', 'zanahoria'], 10))
pesos = pd.Series(np.linspace(1, 10, 10))
print(pesos.tolist())
print(frutas.tolist())
#> [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
#> ['banana', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'banana', 'carrot', 'apple', 'carrot']

# Los valores van a cambiar por ser random
# apple     6.0
# banana    4.0
# carrot    5.8
# dtype: float64

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['zanahoria', 'manzana', 'banana', 'manzana', 'zanahoria', 'banana', 'zanahoria', 'banana', 'manzana', 'banana']

In [65]:
df4=pd.DataFrame(frutas)
df4[1]=pesos
df4

           0     1
0  zanahoria   1.0
1    manzana   2.0
2     banana   3.0
3    manzana   4.0
4  zanahoria   5.0
5     banana   6.0
6  zanahoria   7.0
7     banana   8.0
8    manzana   9.0
9     banana  10.0

In [66]:
df4.mean

<bound method DataFrame.mean of            0     1
0  zanahoria   1.0
1    manzana   2.0
2     banana   3.0
3    manzana   4.0
4  zanahoria   5.0
5     banana   6.0
6  zanahoria   7.0
7     banana   8.0
8    manzana   9.0
9     banana  10.0>

## ¿Como importar solo columnas especificas de un archivo csv?

In [67]:
path ="C://Users//Asus//Documents//GitHub//py-silva-garcia-andrea-guiomar//03-pandas//Data//artwork_data.csv"

df_ultimo = pd.read_csv(path, nrows=10)

#seleccion de columnas
columnas=['id','artist','title','medium','year','acquisitionYear','height','width','units']

df_ultimo= pd.read_csv(path,nrows=10,usecols=columnas)
df_ultimo

,id,artist,title,medium,year,acquisitionYear,width,height,units
0,1035,"Blake, Robert",A Figure Bowing before a Seated Old Man with h...,"Watercolour, ink, chalk and graphite on paper....",NaN,1922,394,419,mm
1,1036,"Blake, Robert","Two Drawings of Frightened Figures, Probably f...",Graphite on paper,NaN,1922,311,213,mm
2,1037,"Blake, Robert",The Preaching of Warning. Verso: An Old Man En...,Graphite on paper. Verso: graphite on paper,1785.0,1922,343,467,mm
3,1038,"Blake, Robert",Six Drawings of Figures with Outstretched Arms,Graphite on paper,NaN,1922,318,394,mm
4,1039,"Blake, William",The Circle of the Lustful: Francesca da Rimini...,Line engraving on paper,1826.0,1919,243,335,mm
5,1040,"Blake, William",Ciampolo the Barrator Tormented by the Devils,Line engraving on paper,1826.0,1919,240,338,mm
6,1041,"Blake, William",The Baffled Devils Fighting,Line engraving on paper,1826.0,1919,242,334,mm
7,1042,"Blake, William",The Six-Footed Serpent Attacking Agnolo Brunel...,Line engraving on paper,1826.0,1919,246,340,mm
8,1043,"Blake, William",The Serpent Attacking Buoso Donati,Line engraving on paper,1826.0,1919,241,335,mm
9,1044,"Blake, William",The Pit of Disease: The Falsifiers,Line engraving on paper,1826.0,1919,243,340,mm